1. Write a program that reads an integer value between 1 and 12 from the user and prints output the corresponding month of the year.

In [9]:
month_names = ["January", "February", "March", "April", "May", "June",
               "July", "August", "September", "October", "November", "December"]

month = int(input("Enter the month: "))

if 1 <= month <= 12:
    print(f"Month {month} is {month_names[month - 1]}")
else:
    print("Invalid month. Please enter a number between 1 and 12.")

Enter the month: 2
Month 2 is February

2. A certain cinema currently sells tickets for a full price of 6 pounds, but always sells tickets for half price to people who are less than 16 years old, and for a third of the price for people who are 60 years old or more.

In [10]:
age = int(input("Enter your age: "))
full_price = 6

if age < 16:
    ticket_price = full_price / 2
elif age >= 60:
    ticket_price = full_price / 3
else:
    ticket_price = full_price

print(f"Your ticket costs £{ticket_price:.2f}")

Enter your age: 22
Your ticket costs £6.00

3. Write a program to calculate your BMI and give weight status. Body Mass Index (BMI) is an internationally used measurement to check if you are a healthy weight for your height.The metric BMI formula accepts weight in kilograms and height in meters:
BMI= weight(kg)/height2(m2)
BMI Weight Status Categories table
BMI range - kg/m2   Category
Below 18.5 Underweight
18.5 -24.9         Normal
25 - 29.9          Overweight
30 & Above     Obese

In [11]:
weight = float(input("Enter your weight in (kg): "))
height = float(input("Enter your height in (m): "))

bmi = weight / (height ** 2)
print(f"Your BMI is: {bmi:.2f}")

if bmi < 18.5:
    status = "Underweight"
elif 18.5 <= bmi < 25:
    status = "Normal"
elif 25 <= bmi < 30:
    status = "Overweight"
else:
    status = "Obese"

print(f"You are in the \"{status}\" range.")

Enter your weight in (kg): 50
Enter your height in (m): 144
Your BMI is: 0.00
You are in the "Underweight" range.

4. Write a Python program to receive 3 numbers from the user and print the greatest among them.

In [12]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

greatest = max(num1, num2, num3)
print(f"The greatest number is {greatest}")

Enter first number: 5
Enter second number: 8
Enter third number: 3
The greatest number is 8.0

5. Find the factorial of a given number using loops(note the number is received from the user)

In [13]:
num = int(input("Enter a number: "))
factorial = 1

if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"Factorial of {num} is {factorial}")

Enter a number: 5
Factorial of 5 is 120

6. Reverse a number using while loop

In [15]:
num = int(input("Enter a number: "))
reversed_num = 0

while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print(f"Reversed number is {reversed_num}")

Enter a number: 25
Reversed number is 52

7. Finding the multiples of a number using loop

In [21]:
number = int(input("Enter number: "))

print("The multiples are: ")
for i in range(1,11):
    print(number*i,end=' ')

Enter number: 7
The multiples are:
7 14 21 28 35 42 49 56 63 70

8. Write a program to print the inputted value as it is and break the loop if the value is 'done'.

In [23]:
while True:
    user_input = input("Enter a value:")
    print(user_input)
    if user_input.lower() == "done":
        break

Enter a value:hello there
hello there
Enter a value:finished
finished
Enter a value:done
done

9. Write a program that prints the numbers from 1 to 10. But for multiples of three print "Fizz" instead of the number and for the multiple of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz"

In [24]:
for i in range(1, 11):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

10. Write a program to print the following pattern:

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [25]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1