# Python Fundamentals

1. Write Python code that prints your name, student number and email address.

In [ ]:
n ='Bob'
ID = 'ST1001'
e= 'bob@gmail.com'
print('Name :',n)
print('Student Number :',ID)
print('Email :',e)

Name : Bob
Student Number : ST1001
Email : bob@gmail.com

2. Write Python code that prints your name, student number and email address using escape sequences.

In [ ]:
n ='Bob'
ID = 'ST1001'
e= 'bob@gmail.com'
print('Name :',n,'\nStudent Number :',ID,'\nEmail :',e)

Name : Bob
Student Number : ST1001
Email : bob@gmail.com

3. Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.

In [ ]:
x=14
y=7
a=x+y
s=x-y
m=x*y
d=x/y
print('Sum of x and y is :',a)
print('Difference between x and y is :',s)
print('Product of x and y is :',m)
print('Quotient of x and y is :',d)

Sum of x and y is : 21
Difference between x and y is : 7
Product of x and y is : 98
Quotient of x and y is : 2.0

4. Write Python code that displays the numbers from 1 to 5 as steps.

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

5. Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:

In [ ]:
SDK ='"Software Development Kit"'
IDE ='"Integrated Development Environment"'
print('"SDK" stands for',SDK)
print('"IDE" stands for',IDE)

"SDK" stands for "Software Development Kit"
"IDE" stands for "Integrated Development Environment"

6. Practice and check the output.
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

In [ ]:
 print('"python is an "awesome" language."')
 print('"python\n\t2023"')
 print("'I'm from Entri.\b'")
 print("\65")
 print("\x65")
 print('"Entri", "2023", sep="\n"')
 print('"Entri", "2023", sep="\b"')
 print('"Entri", "2023", sep="*", end="\b\b\b\b"')

"python is an "awesome" language."
"python
	2023"
'I'm from Entri.'
5
e
"Entri", "2023", sep="
"
"Entri", "2023", sep=""
"Entri", "2023", sep="*", end=""

7. Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?
num=23
textnum="57"
decimal=98.3

In [ ]:
n=23
t='57'
d=98.3
print("the type of num is:",type(n))
print("the type of textnum is :",type(t))
print("the type of decimal is :",type(d))
print("the sum of the variables is :",n+int(t)+d)
print("the type of sum is :",type(n+int(t)+d))

the type of num is: <class 'int'>
the type of textnum is : <class 'str'>
the type of decimal is : <class 'float'>
the sum of the variables is : 178.3
the type of sum is : <class 'float'>

8. Calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [ ]:
d=365 # no.of days in an year
h=24 # hours in a day
m=60 # minutes in an hour
print("The number of days in a year is :",d)
print("The number of hours in a day is :",h)
print("The number of minutes in an hour is :",m)
t=d*h*m
print("The number of minutes in a year is :",t)

The number of days in a year is : 365
The number of hours in a day is : 24
The number of minutes in an hour is : 60
The number of minutes in a year is : 525600

9. Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.

In [ ]:
  name = input("Enter your name: ")
  print("Hi,", name,",welcome to Python programming")

Enter your name: Tony
Hi, Tony ,welcome to Python programming

10. Name your file: PoundsToDollars.py
Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($)

In [34]:
# Execute the entire .py file
with open('PoundsToDollars.py') as file:
    exec(file.read())

Please enter amount in pounds: £1
£1.0 are $1.27